/*color the background of the body part*/
body {
  background-color: rgb(227, 213, 236);
}

#image {
  margin-top: 30px;
  margin-left: 20px;
}
#name {
  margin-top: 40px;
  color: rgb(26, 80, 112);
  font-family: Bahnschrift SemiCondensed;
  font-size: 35px;
}
#ps,
#c1,
#m1,
#p3,
#p4,
#p5,
#e1,
#i2,
#s2 {
  color: rgb(65, 64, 74);
  font-family: Arial Narrow;
}

#p1,
#p2 {
  margin-left: 10px;
  font-size: 15px;
  font-family: Arial Narrow;
}

#p3,
#p4,
#p5 {
  text-align: left;
  margin-left: 500px;
}

#info {
  color: rgb(30, 37, 117);
  font-family: Arial Narrow;
}

#pro,
#we,
#ts,
#edu,
#ih,
#add,
#cyber,
#mini,
#con,
#i1,
#s1,
#cp {
  font-family: Bahnschrift SemiCondensed;
  color: rgb(26, 80, 112);
}
